
body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(212,230,101,1) 100%);
}


#btn{
    margin-top: 2%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
    font-size: 22px;
}

#btns{
    margin-top: 10%;
}

#create{
    margin-top: 10%;
    padding: 1% 1% 1% 1%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
    font-size: 18px;
    border-radius: 4%;
}

.btn{
    width: 50%;
    margin-left: 25%;
}
